
nav {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgba(211, 201, 226, 0.15)
}

.nav-div-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.15em;
  width: 97vw;
  height: 2.6em;
  padding: 0em 1em 0em 1em;
}

.logo-img {
  width: 4.5em
}

a {
  all: unset;
}

.nav-div {
  display: flex;
  flex-direction: row;
}

.button-style-1 {
  background-color: #8643d3;
  border: none;
  color: white;
  padding: 0.4em 0.8em;
  text-align: center;
  text-decoration: none;
  border-radius: 0.4em;
}

.button-style-2 {
  padding: 0.4em 0.8em;
  text-align: center;
  text-decoration: none;
}