.card-movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-grow: 1; */
  color: #f9f9f9;
  height: 32em;
  width: 16em;
  border: 0.1em solid rgba(211, 201, 226, 0.15);
  border-radius: 0.2em;
  margin: 0.5em;
  margin-top: 3em;
  padding: 0.5em;
  background: linear-gradient(120deg, rgba(83, 23, 130, 0.2), rgba(83, 23, 130, 1));
}

.card-movie-title {
  padding: 0.5em 0em;
  font-size: 1.4em;
}

.card-movie-img {
  width: 16em;
}

.card-movie-description {
  padding: 0.5em 0em;
  font-size: 1em;
}
